<%= form_for(class_data) do |f| %>
  <% if class_data.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_data.errors.count, "error") %> prohibited this class_data from being saved:</h2>

      <ul>
      <% class_data.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
