<p id="notice"><%= notice %></p>

<h1>Class Data</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_data.each do |class_data| %>
      <tr>
        <td><%= class_data.course_id %> - <%= class_data.title %></td>
        <td><%= link_to 'Show', class_data %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>