<div class="card-deck-wrapper">
  <% @class_data.each_with_index do |class_data, index| %>
    <% if index % @col_count == 0 %>
      <div class="card-deck">
    <% end %>
    <% if class_data.invalid %>
      <div class="invalid-card card card-block text-xs-center" id="<%= class_data.id %>">
      <p class="conflict-message">Time/Requisite Conflict</p>
    <% else %>
      <div class="valid-card card card-block text-xs-center" id="<%= class_data.id %>">
    <% end %>
      <h3 class="card-title"><%= class_data.course_id %></h3>
      <p class="card-text"><%= class_data.title %></p>
    </div>
    <% if index % @col_count == @col_count - 1 %>
      </div>
    <% end %>
  <% end %>
</div>

<style>

.card-block {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

.invalid-card {
  opacity: 0.5;
}


.card-block:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.conflict-message {
  color: red;
  font-size: 10px;
}

</style>