/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "fullcalendar";
 @import "bootstrap";

div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;  
    background-color: #FFFFFF; 
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}

div.tile-header {
  margin-top: 20px !important;
  margin-bottom: 1px !important;
  font-size: 24pt;
  text-align: center;
  font-weight: bold;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

div.tile {
  margin-top: 1px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  position:relative;
}

div#results {
  margin-top: 20px !important;
  padding-top: 0px;
  box-shadow: none;
  margin-bottom: 100px;
  background-color: #F5F5F5;
}

div#clear-calendar {
  position:relative;
  width: 25%;
  left:37.5%;
}

div#content {
  background-color: #F5F5F5;
  min-height: 1080px;
  margin-top: 95px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

div#header {
  background-color: #2979FF;
  height: 150px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

div#title {
  position:relative;
  width: 50%;
  left:25%;
  font-size: 60px;
  font-weight: bold;
  padding-top: 15px;
  color: #FFFFFF;
  text-align: center;
}

div.minimize-wrapper {
  float: right;
  height: 30px;
  width: 30px;
}

div.minimize-button {
  width: 100%;
  margin-top: 5px;
  height: 10px;
  background-color: #E0E0E0;
}

.tab-pane {
  margin-top: 25px;
}

.minimize-wrapper {
  cursor: pointer;
}

input[type='submit'] {
  cursor: pointer;
}

.valid-card {
  cursor: pointer;
}