<h1>Editing Independent Class Datum</h1>

<%= render 'form', independent_class_datum: @independent_class_datum %>

<%= link_to 'Show', @independent_class_datum %> |
<%= link_to 'Back', independent_class_data_path %>
