<h1>Editing Independent Class Datum</h1>

<%= render 'form', independent_class_data: @independent_class_data %>

<%= link_to 'Show', @independent_class_data %> |
<%= link_to 'Back', independent_class_data_path %>
