<div id="calendar"></div>

<%= form_tag(class_data_index_path, :method => "get", id: "search-form", :remote => true) do %>
<%= text_field_tag :search, params[:search], placeholder: "Search your major" %>
<%= submit_tag "Search", :name => nil %>
<% end %>

<script>
  if ($('#calendar').is(':empty')) {
    $('#calendar').fullCalendar({
        handleWindowResize: true,
        defaultDate: moment('2017-01-09'),
        weekends: false,
        header: false,
        height: 501,
        defaultView: "agendaWeek",
        slotMinutes: 10,
        minTime: "08:00:00",
        maxTime: "20:00:00",
        allDaySlot: false,
        events: <%= @chosen_classes %>,
    });
  }

$('#search-form').submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'GET',
        url: '/search',
        dataType: 'html',
        data : {
            major: $('#search').val()
        },
        success: function(data) {
            $('#results').html(data);
            return false;
        }
    });
});
</script>

<div id="results" class="col-md-10 col-md-offset-1"></div>