<div class="row" id="content">
  <div id="calendar-title" class="tile tile-header col-md-10 offset-md-1">
    Calendar
    <div id="calendar-minimize" class="minimize-wrapper">
      <div class="minimize-button"></div>
    </div>
  </div>
  <div id="calendar-wrapper" class="tile col-md-10 offset-md-1"></div>
  <div id="calendar-footer" class="tile col-md-10 offset-md-1">
    <div id="calendar-options">
      <div class="row">
        <div id="clear-calendar">
            <input type="submit" id="clear-calendar" class="form-control" value="Clear Calendar">
        </div>
      </div>
    </div>
  </div>
  <div id="selected-classes-title" style="display:none">
    Selected Classes
    <div id="selected-classes-minimize" class="minimize-wrapper">
      <div class="minimize-button"></div>
    </div>
  </div>
  <div id="selected-classes" style="display:none"></div>
  <div id="search-box-title" class="tile tile-header col-md-10 offset-md-1">Search</div>
  <div class="tile col-md-10 offset-md-1">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#search-box" role="tab">Search by Major</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ge-search-box" role="tab">Search by GE Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#keyword-search-box" role="tab">Search by Keyword</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="search-box" class="tab-pane active">
        <div class="row">
          <form id="search-form" method="get">
            <div class="col-md-3 offset-md-2">
              <input type="text" class="form-control" name="search" id="search" placeholder="Search your major">
            </div>
            <div class="col-md-2 offset-md-3">
                <input type="submit" class="form-control" value="Search">
            </div>
          </form>
        </div>
      </div>
      <div id="ge-search-box" class="tab-pane">
        <div class="row">
          <div class="col-md-3 offset-md-1">
            <select id="foundation-search" class="form-control">
              <option selected disabled>Choose a Foundation</option>
              <option value="Foundations of Arts and Humanities">Foundations of Arts and Humanities</option>
              <option value="Foundations of Scientific Inquiry">Foundations of Scientific Inquiry</option>
              <option value="Foundations of Society and Culture">Foundations of Society and Culture</option>
            </select>
          </div>
          <div class="col-md-3 offset-md-1">
            <select disabled id="category-search" class="form-control">
              <option selected disabled>Choose a Category</option>
            </select>
          </div>
          <div class="col-md-2 offset-md-1">
            <input type="submit" id="ge-search-submit" class="form-control" value="Search">
          </div>
        </div>
      </div>
      <div id="keyword-search-box" class="tab-pane">
        <div class="row">
          <div class="col-md-3 offset-md-2">
            <input type="text" class="form-control" id="keyword-search" placeholder="Keyword(s)">
          </div>
          <div class="col-md-2 offset-md-3">
            <input type="submit" id="keyword-search-submit" class="form-control" value="Search">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="results" class="tile col-md-10 offset-md-1"></div>
</div>

<script>
var stateDataStack = [];
var selectedIndependentClassIds = [];
var selectedDependentClassIds = [];
var classDict = {};
var classToEventIdDict = {};
var ge_categories = {
  "Foundations of Arts and Humanities": ["Literary and Cultural Analysis", "Philosophical and Linguistic Analysis", "Visual and Performance Arts Analysis and Practice"],
  "Foundations of Scientific Inquiry": ["Life Sciences", "Physical Sciences"],
  "Foundations of Society and Culture": ["Historical Analysis", "Social Analysis"]
};

window.onload = function () {
  var oTextbox = new AutoSuggestControl(document.getElementById("search"), new StateSuggestions());
  $.ajax({
    type: 'GET',
    url: '/calendar/view',
    success: function(data) {
      $('#calendar-wrapper').html(data);
      return false;
    }
  });
}

$('#search-form').submit(function(event) {
    event.preventDefault();
    $.ajax({
      type: 'GET',
      url: '/search',
      dataType: 'html',
      data : {
        major: $('#search').val()
      },
      success: function(data) {
        stateDataStack.push(data);
        $('#results').html(data);
        return false;
      }
    });
});

$(document.body).on('click', '#ge-search-submit', function() {
  if ($('#foundation-search').val() !== "Choose a Foundation") {
    if ($('#category-search').val() !== "Choose a Category") {
      $.ajax({
        type: 'GET',
        url: '/search',
        dataType: 'html',
        data : {
            foundation: $('#foundation-search').val(),
            category: $('#category-search').val()
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
      });
    } else {
      $.ajax({
        type: 'GET',
        url: '/search',
        dataType: 'html',
        data : {
            foundation: $('#foundation-search').val()
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
      });
    }
  } 
});

$(document.body).on('click', '#keyword-search-submit', function(){
    $.ajax({
      type: 'GET',
      url: '/search',
      dataType: 'html',
      data : {
        keywords: $('#keyword-search').val()
      },
      success: function(data) {
        stateDataStack.push(data);
        $('#results').html(data);
        return false;
      }
    });
});

$(document.body).on("click", ".card", function() {
    $.ajax({
        type: 'GET',
        url: '/class_data_search',
        dataType: 'html',
        data: {
            id: $(this).attr('id'),
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", ".similar-class-details", function() {
    $.ajax({
        type: 'GET',
        url: '/class_data_search',
        dataType: 'html',
        data: {
            id: $(this).attr('id'),
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", "#independent-class-btn", function() {
    $.ajax({
        type: 'GET',
        url: '/independent_class_data_search',
        dataType: 'html',
        data: {
            id: $(this).attr('independent_class_id'),
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", "#back-btn", function() {
    stateDataStack.pop();
    var data = stateDataStack.pop();
    stateDataStack.push(data);
    $('#results').html(data);
});

$(document.body).on("click", "#add-section-btn", function() {
  $('#calendar').fullCalendar('renderEvent', JSON.parse($(this).attr('ind_json')), 'stick');

  $('#selected-classes-title').addClass("tile tile-header col-md-10 offset-md-1");
  $('#selected-classes-title').removeAttr("style");

  $('#selected-classes').addClass("tile col-md-10 offset-md-1");
  $('#selected-classes').removeAttr("style");

  var ind_id = JSON.parse($(this).attr('ind_json'))['id'];
  selectedIndependentClassIds.push(ind_id);

  if ($(this).attr('dep_json') !== undefined) {
    $('#calendar').fullCalendar('renderEvent', JSON.parse($(this).attr('dep_json')), 'stick');
    var dep_id = JSON.parse($(this).attr('dep_json'))['id'];
    selectedDependentClassIds.push(dep_id);
    classDict[ind_id] = dep_id;
  }

  if (selectedDependentClassIds.length == 0) {
    $.ajax({
      type: 'GET',
      url: '/independent_class_data_show_selected',
      dataType: 'html',
      data: {
          independent_ids: selectedIndependentClassIds.join()
      },
      success: function(data) {
          $('#selected-classes').html(data);
          return false;
      }
    });
  } else {
    $.ajax({
      type: 'GET',
      url: '/independent_class_data_show_selected',
      dataType: 'html',
      data: {
          independent_ids: selectedIndependentClassIds.join(),
          dependent_ids: selectedDependentClassIds.join()
      },
      success: function(data) {
          $('#selected-classes').html(data);
          return false;
      }
    });
  }
});

$(document.body).on("click", "#delete-class-btn", function() {
  var ind_id = $(this).attr('ind_id');
  $('#calendar').fullCalendar('removeEvents', ind_id);
  selectedIndependentClassIds.splice(selectedIndependentClassIds.indexOf(ind_id), 1);

  if (classDict[ind_id] !== undefined) {
    var dep_id = classDict[ind_id];
    $('#calendar').fullCalendar('removeEvents', dep_id);
    selectedDependentClassIds.splice(selectedDependentClassIds.indexOf(dep_id), 1);
  }

  if (selectedIndependentClassIds.length == 0 && selectedDependentClassIds.length == 0) {
    $('#selected-classes-title').removeAttr("class");
    $('#selected-classes-title').attr("style", "display:none");
    $('#selected-classes').removeAttr("class");
    $('#selected-classes').attr("style", "display:none");
    $('#selected-classes').html("");
  } else if (selectedDependentClassIds.length == 0) {
    $.ajax({
      type: 'GET',
      url: '/independent_class_data_show_selected',
      dataType: 'html',
      data: {
          independent_ids: selectedIndependentClassIds.join()
      },
      success: function(data) {
          $('#selected-classes').html(data);
          return false;
      }
    });
  } else {
    $.ajax({
      type: 'GET',
      url: '/independent_class_data_show_selected',
      dataType: 'html',
      data: {
          independent_ids: selectedIndependentClassIds.join(),
          dependent_ids: selectedDependentClassIds.join()
      },
      success: function(data) {
          $('#selected-classes').html(data);
          return false;
      }
    });
  }
});

$(document.body).on("click", "#clear-calendar", function() {
  $('#calendar').fullCalendar('removeEvents');

  $('#selected-classes-title').removeAttr("class");
  $('#selected-classes-title').attr("style", "display:none");

  $('#selected-classes').removeAttr("class");
  $('#selected-classes').attr("style", "display:none");

  selectedIndependentClassIds = [];
  selectedDependentClassIds = [];

  $('#selected-classes').html("");
});

$(document.body).on("click", "#calendar-minimize", function() {
  if ($('#calendar-wrapper').attr('style') !== undefined) {
    $('#calendar-wrapper').removeAttr('style');
    $('#calendar-footer').removeAttr('style');
  } else {
    $('#calendar-wrapper').attr('style', 'display:none');
    $('#calendar-footer').attr('style', 'display:none');
  }
});

$(document.body).on("click", "#selected-classes-minimize", function() {
  if ($('#selected-classes').attr('style') !== undefined) {
    $('#selected-classes').removeAttr('style');
  } else {
    $('#selected-classes').attr('style', 'display:none');
  }
});

$('#foundation-search').change(function() {
  var foundation = $(this).val()
  $('#category-search').removeAttr('disabled');
  $('#category-search').html("");
  $('#category-search').append("<option selected>Choose a Category</option>")
  for (var index in ge_categories[foundation]) {
    $('#category-search').append('<option value="' + ge_categories[foundation][index] + '">' + ge_categories[foundation][index] + '</option>');
  }
})

window.onbeforeunload = function() {
  return "Data will be lost if you leave the page, are you sure?";
};

</script>

