<div id="calendar" class="col-md-10 offset-md-1"></div>
<div id="search-box" class="col-md-10 offset-md-1">
    <form id="search-form" method="get">
        <div class="row">
            <div class="col-md-3 offset-md-3">
                <input type="text" class="form-control" name="search" id="search" placeholder="Search your major">
            </div>
            <div class="col-md-3">
                <input type="submit" class="form-control col-md-2 offset-md-1" value="Search">
            </div>
        </div>
    </form>
</div>
<div id="results" class="col-md-10 offset-md-1"></div>

<script>
  var stateDataStack = [];

  window.onload = function () {
    var oTextbox = new AutoSuggestControl(document.getElementById("search"), new StateSuggestions());
  }

  if ($('#calendar').is(':empty')) {
    $('#calendar').fullCalendar({
        handleWindowResize: true,
        defaultDate: moment('2017-01-09'),
        weekends: false,
        header: false,
        height: 501,
        defaultView: "agendaWeek",
        slotMinutes: 10,
        minTime: "08:00:00",
        maxTime: "20:00:00",
        allDaySlot: false,
        events: <%= @chosen_classes %>,
    });
  }

$('#search-form').submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'GET',
        url: '/search',
        dataType: 'html',
        data : {
            major: $('#search').val()
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", ".card", function() {
    $.ajax({
        type: 'GET',
        url: '/class_data_search',
        dataType: 'html',
        data: {
            id: $(this).attr('id'),
            major: $('#search').val()
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", "#independent-class-btn", function() {
    $.ajax({
        type: 'GET',
        url: '/independent_class_data_search',
        dataType: 'html',
        data: {
            id: $(this).attr('independent_class_id'),
            class_id: $(this).attr('class_id'),
            major: $(this).attr('major')
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", "#back-btn", function() {
    stateDataStack.pop();
    var data = stateDataStack.pop();
    stateDataStack.push(data);
    $('#results').html(data);
});

</script>

<style> 
div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;   
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}
</style>