
<html>
  <body>
    <div id="calendar-wrapper"></div>
    <div id="search-box" class="col-md-10 offset-md-1">
      <form id="search-form" method="get">
          <div class="row">
              <div class="col-md-3 offset-md-1">
                  <input type="text" class="form-control" name="search" id="search" placeholder="Search your major">
              </div>
              <div class="col-md-3 offset-md-1">
                  <input type="submit" class="form-control" value="Search">
              </div>
              <div class="col-md-3 offset-md-1">
                  <input type="submit" id="clear-calendar" class="form-control" value="Clear Calendar">
              </div>
          </div>
      </form>
  </div>
  <div id="results" class="col-md-10 offset-md-1"></div>
  </body>
</html>

<script>
var stateDataStack = [];

window.onload = function () {
  var oTextbox = new AutoSuggestControl(document.getElementById("search"), new StateSuggestions());
  $.ajax({
    type: 'GET',
    url: '/calendar/view',
    success: function(data) {
      $('#calendar-wrapper').html(data);
      return false;
    }
  });
}

$('#search-form').submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'GET',
        url: '/search',
        dataType: 'html',
        data : {
            major: $('#search').val()
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", ".card", function() {
    $.ajax({
        type: 'GET',
        url: '/class_data_search',
        dataType: 'html',
        data: {
            id: $(this).attr('id'),
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", "#independent-class-btn", function() {
    $.ajax({
        type: 'GET',
        url: '/independent_class_data_search',
        dataType: 'html',
        data: {
            id: $(this).attr('independent_class_id'),
        },
        success: function(data) {
            stateDataStack.push(data);
            $('#results').html(data);
            return false;
        }
    });
});

$(document.body).on("click", "#back-btn", function() {
    stateDataStack.pop();
    var data = stateDataStack.pop();
    stateDataStack.push(data);
    $('#results').html(data);
});

$(document.body).on("click", "#add-section-btn", function() {
    $('#calendar').fullCalendar('renderEvent', JSON.parse($(this).attr('ind_json')), 'stick');
    $('#calendar').fullCalendar('renderEvent', JSON.parse($(this).attr('dep_json')), 'stick');
});

$(document.body).on("click", "#clear-calendar", function() {
  $('#calendar').fullCalendar('removeEvents');
});
</script>

<style> 
div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;   
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}
</style>