<h1>Editing Dependent Class Datum</h1>

<%= render 'form', dependent_class_datum: @dependent_class_datum %>

<%= link_to 'Show', @dependent_class_datum %> |
<%= link_to 'Back', dependent_class_data_path %>
